<section>
  <%= render "shared/user", user: @user %>
  <div>
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <%= render "shared/recent_posts", recent_posts: @recent_posts, user: @user %>
</section>