<% if comments.any? %>
  <div class='pad_1em flex_column border_solid'> 
    <% comments.each do |comment| %>
      <p class='color_black'><%= comment.author.name %>: <span> <%= comment.text %> </span> </p>
    <% end %>
  </div>
<% else %>
  <div class='pad_1em flex_column border_solid'>
    <p class='color_black'>There are no comments</p>
  </div>
<% end %>