<div>
  <% if user.photo.present? %>
    <%= image_tag(user.photo, alt: 'User photo', width: 200, height: 150) %>
  <% else %>
    <%= image_tag('photo.png', alt: 'User photo', width: 200, height: 150) %>
  <% end %>
  <div>
    <h2>Username: <%= user.name %></h2>
    <p>Number of posts: <%= user.posts_count %></p>
  </div>
</div>