<section>
  <%= render "shared/user", user: @user %>
  <div>
    <% @posts.each do |post| %>
      <%= link_to user_post_path(post.author, post), class: 'user-posts' do %>
        <%= render "shared/post_info", post: post %>
        <%= render "shared/post_comments", comments: post.recent_comments %>
      <% end %>
    <% end %>
  </div>
  <a class="btn secundary-text" href="#">Pagination</a>
</section>
