@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sura:wght@400;700&display=swap');

:root {
  --white: #fefefe;
  --black: #231f20;
  --blue: #6621e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Sura', serif;
  background-color: var(--white);
  min-height: 100vh;
  color: var(--black);
}

section {
  width: 100%;
  padding: 5em 5em;
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.space_btw {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.flex_end {
  justify-content: flex-end;
}

.gap_3em {
  gap: 3em;
}

.gap_1em {
  gap: 1em;
}

.border_solid {
  border: 1px solid var(--black);
}

.width_80 {
  width: 80%;
}

.width_30 {
  width: 30%;
}

.width_100 {
  width: 100%;
}

.width_30 {
  width: 30%;
}

.width_15 {
  width: 15%;
}

.width_auto {
  width: fit-content;
}

.pad_2_5em {
  padding: 2.5em;
}

.pad_1em {
  padding: 1em;
}

.pad_0_5em {
  padding: 0.5em;
}

.pad_5x2em {
  padding: 2em 5em;
}

.font_w_700 {
  font-weight: 700;
}

.font_size_2em {
  font-size: 2em;
}

.font_size_1_5em {
  font-size: 1.5em;
}

.font_size_0_5em {
  font-size: 0.8em;
}

.color_black {
  color: var(--black);
}

.as_flex_end {
  align-self: flex-end;
}

.as_first {
  align-self: first baseline;
}

.as_center {
  align-self: center;
}

.ai_center {
  align-items: center;
}

.ai_first {
  align-items: first baseline;
}

.text_a {
  text-align: center;
}

.font_size_1_3em {
  font-size: 1.3em;
}

.mb_1_5em {
  margin-bottom: 1.5em;
}

.mb_0_2em {
  margin-bottom: 0.2em;
}

.mb_1em {
  margin-bottom: 1em;
}

.mb_2em {
  margin-bottom: 2em;
}

.mt_2em {
  margin-top: 2em;
}

.mt_0_5em {
  margin-top: 0.5em;
}


.input {
  padding: 0.8em;
  border: 1px solid var(--black);
  border-radius: 8px;
  margin-bottom: 0.8em;
  outline: none;
}

.blue_bg{
  background-color: var(--blue);
}

.text_white {
  color: var(--white);
}